<!DOCTYPE HTML>
{% set sLanguage = oView.getActiveLangAbbr() %}
<html {% if sLanguage %}lang="{{ sLanguage }}"{% endif %}>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ oView.getCharSet() }}">
</head>
<body>
<form action="{{ sRedirectURL }}" method="post" name="frm">
    {% for sParameterName, sParameterValue in aRedirectParameter %}
        <input type="hidden" name="{{ sParameterName }}" value="{{ sParameterValue|htmlentities }}">
    {% endfor %}

    <noscript><input type="submit" value="{{ translate({ ident: "D3_UNZER_REDIRECT_NOSCRIPT" }) }}"/></noscript>
</form>
<script type="text/javascript">
    document.frm.submit();
</script>
</body>
