<div class="alert alert-info">
    <p>
        {{ translate({ ident: "D3UNZER_THANKYOU_PREPAYMENT_INFOTEXT1" }) }}
        <br/>
        <span>{{ translate({ ident: "D3UNZER_THANKYOU_PREPAYMENT_INFOTEXT2" }) }}</span>
    </p>

    <p>
        {% if oPrePaymentData.holder %}
            {{ translate({ ident: "D3UNZER_THANKYOU_PREPAYMENT_ACCOUNTHOLDER" }) }} {{ oPrePaymentData.holder }}<br/>
        {% endif %}
        {% if oPrePaymentData.iban %}
            {{ translate({ ident: "D3UNZER_THANKYOU_PREPAYMENT_IBAN" }) }} {{ oPrePaymentData.iban }}<br/>
        {% endif %}
        {% if oPrePaymentData.bic %}
        {{ translate({ ident: "D3UNZER_THANKYOU_PREPAYMENT_BIC" }) }} {{ oPrePaymentData.bic }}<br/>
        {% endif %}

        {{ translate({ ident: "D3UNZER_THANKYOU_PREPAYMENT_AMOUNT" }) }} {{ oPrePaymentData.formattedAmount }} {{ oPrePaymentData.currency }}
        <br/>
        {% if oPrePaymentData.descriptor %}
            {{ translate({ ident: "D3UNZER_THANKYOU_PREPAYMENT_REASON" }) }} {{ oPrePaymentData.descriptor }}
        {% endif %}
        {% if oPrePaymentData.paymentReference %}
            {{ oPrePaymentData.paymentReference }}
        {% endif %}
    </p>
</div>
